@import url("../styles/default.css");

body {
    background-color: var(--color-primary);
    overflow-x: hidden;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/* HEADER ELEMENT */
.header-container {
    height: 20rem;
    padding: 0rem 1rem 1rem 1rem;

    display: flex;
    background-color: var(--color-secondary);
    color: var(--color-light);
    
    align-items: center;
    /* box-shadow: 0px 10px 2rem 1rem var(--shadow-primary); */
}

/* RIGHT SIDE CONFIG */
.right-side {
    width: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.right-side .header-title {
    font-weight: 900;
    font-size: 40px;
}

.right-side .header-footer {
    font-size: 16px;

    color: var(--color-muted);
}

/* LEFT SIDE CONFIG */
.left-side {
    width: 40%;
    display: flex;
    flex-direction: column;

    gap: 1rem;
}
.left-side .header-description { font-weight: 900; letter-spacing: 3px; }
.left-side .header-details {
    color: var(--color-muted);
    font-size: 17px;
}

.left-side .header-details .detail-bold { font-weight: 900; }
.left-side .header-details .detail-clickable {
    text-decoration: none;
}

/* SECTIONS */
.section-container {
    color: var(--color-light);

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10rem;
}

.section-top {
    display: flex;
    flex-direction: column;

    text-align: center;
    margin-bottom: 3rem;
}

.section-top .title {
    font-weight: 900;
    font-size: 36px;
}

.section-top .detail {
    color: var(--color-muted);
}

.section-bottom {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
}

.card-add{
    display: flex;
    flex-direction: column;

    width: 20rem;
    height: 31rem;

    border: .2rem dashed var(--color-secondary);
    border-radius: 1rem;

    padding: 1rem;

    transition: all 0.2s ease-in;
    
    text-align: center;
    justify-content: center;

    font-size: 36px;
}

.card-add:hover{
    box-shadow: 0px 0px 2rem 1rem var(--shadow-primary);
    transform: scale(1.05);

    background-color: var(--color-secondary);
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;

    width: 20rem;

    border: .2rem solid var(--color-secondary);
    border-radius: 1rem;

    padding: 1rem;

    transition: all 0.2s ease-in;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 2rem 1rem var(--shadow-primary);
    transform: scale(1.05);

    background-color: var(--color-secondary);
}

.card .image {
    width: 20rem;
    align-self: center;
    border-radius: 1rem;

    margin-bottom: 1rem;
}

.card .title {
    font-weight: 900;
    font-size: 24px;
    text-align: center;
}

.card .detail {
    color: var(--color-muted);
}

.banner {
    display: flex;
    flex-direction: column;

    width: 60rem;

    border: .2rem solid var(--color-secondary);
    /* background-color: var(--color-secondary); */
    box-shadow: 0px 0px 2rem 1rem var(--shadow-primary);
    border-radius: 1rem;

    padding: 1rem;

    transition: all 0.2s ease-in;

}

.banner .title {
    font-weight: 900;
    font-size: 24px;
    text-align: center;

    padding: .5rem;
    background-color: var(--color-secondary);
    border-radius: 25rem;

    margin-bottom: 1rem;
}

.banner .detail {
    font-size: 20px;
}

.banner .footer {
    color: var(--color-muted);
    font-size: 12px;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 30rem;

    border: .2rem solid var(--color-secondary);
    padding: 1rem;
    border-radius: 1rem;

    transition: all 0.2s ease-in;
    height: 10rem;
}

.skill:hover { cursor: pointer; }

.skill .title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 1rem;
}

.skill .detail {
    font-size: 20px;
    margin-bottom: 1rem;
}

.skill .footer{
    color: var(--color-muted);
    font-size: 15px;
    
    text-align: end;
    margin-top: auto;
}

.skill-add{
    display: flex;
    flex-direction: column;
    width: 30rem;

    border: .2rem dashed var(--color-secondary);
    padding: 1rem;
    border-radius: 1rem;

    transition: all 0.2s ease-in;

    text-align: center;
    justify-content: center;

    font-size: 36px;
}

.skill-add:hover{
    background-color: var(--color-secondary);
    box-shadow: 0px 0px 2rem 1rem var(--shadow-primary);
    transform: rotate(2deg);
    cursor: pointer;
}

.skill:nth-last-child(1):nth-child(odd){
    grid-column: span 2;
    justify-self: center;
}

.skill:nth-last-child(1):nth-child(odd):hover{
    grid-column: span 2;
    justify-self: center;
    transform: scale(1.05);
}

.skill:nth-child(odd):hover {
    background-color: var(--color-secondary);
    box-shadow: 0px 0px 2rem 1rem var(--shadow-primary);
    transform: rotate(2deg)
}

.skill:nth-child(even):hover {
    background-color: var(--color-secondary);
    box-shadow: 0px 0px 2rem 1rem var(--shadow-primary);
    transform: rotate(-2deg)
}